.svg-clear-view-escapes {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 0 0 no-repeat;
}

.svg-clear-view-escapes-dims {
    width: 142.4px;
    height: 59.53px;
}

.svg-comment {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 99.70443349753694% 0 no-repeat;
}

.svg-comment-dims {
    width: 64px;
    height: 64px;
}

.svg-facebook {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 26.040607071652357% 45.795830448496034% no-repeat;
}

.svg-facebook-dims {
    width: 21.23px;
    height: 42.01px;
}

.svg-fire {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 0 99.56481481481481% no-repeat;
}

.svg-fire-dims {
    width: 56px;
    height: 64px;
}

.svg-globe {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 27.586206896551722% 99.56481481481481% no-repeat;
}

.svg-globe-dims {
    width: 64px;
    height: 64px;
}

.svg-instagram {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 63.2917018534157% 49.234556504346486% no-repeat;
}

.svg-instagram-dims {
    width: 42.01px;
    height: 42.01px;
}

.svg-mail {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 0 48.00806451612903% no-repeat;
}

.svg-mail-dims {
    width: 64px;
    height: 48px;
}

.svg-rain {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 99.70443349753694% 59.25925925925926% no-repeat;
}

.svg-rain-dims {
    width: 64px;
    height: 64px;
}

.svg-star {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 59.11330049261084% 99.56481481481481% no-repeat;
}

.svg-star-dims {
    width: 64px;
    height: 64px;
}

.svg-twitter {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 94.04330452560171% 98.50700323226104% no-repeat;
}

.svg-twitter-dims {
    width: 51.78px;
    height: 42.06px;
}

.svg-wifi {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 68.79227053140097% 0 no-repeat;
}

.svg-wifi-dims {
    width: 60px;
    height: 64px;
}

.svg-youtube {
    background: url("../../temp/sprite/css/svg/sprite.css-d675eadb.svg") 36.69752421959096% 45.792307692307695% no-repeat;
}

.svg-youtube-dims {
    width: 34.75px;
    height: 42px;
}
